<app-maintenance [data]="data" [item]="item" (getNewData)="newData($event)"></app-maintenance>

<p-table [value]="data"  [paginator]="true" [rows]="5" styleClass="table-responsive">
    <ng-template pTemplate="header">
        <tr>
            <th colspan="3"> Url de acceso</th>
            <th colspan="5"> Titulo</th>
            <th colspan="3"> Acerca de </th>
            <th colspan="1"> Acciones </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td colspan="3">{{data.accessURL}}</td>
            <td colspan="5">{{data.title}}</td>
            <td colspan="3">{{data._about}}</td>
            <td colspan="1">
                <i class="pi pi-pencil" style="font-size: 2em" (click)="loadData(data.accessURL)"></i>
                <i class="pi pi-trash" style="font-size: 2em" (click)="deleteData(data.accessURL)"></i>
            </td>
        </tr>
    </ng-template>
</p-table> 